// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


/* The sidebar menu */
.sidenav {
    height: 250%;
    width: 170px; /* set the width of the sidebar */
    position: absolute; /* fixed Sidebar (stay in place on scroll) */
    left: 0;
    background: linear-gradient(to top, #3eb8d0, #84ad62);
    overflow-x: hidden; /* disable horizontal scroll */

  }

  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #e8e8e8;
    display: block;
    padding-top: 20px;
  }


  .sidenav a:hover {
    color: #59635b;
  }


  .main {
    margin-left: 160px;
    padding: 0px 10px;
  }

  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .card-header {
    background: linear-gradient(to right,  #84ad62,#3eb8d0 ) ;
  }


  .custom-colour{
    background-color: #3eb8d0;
    color: #f7efff;

  }

  .delete-colour{
    background-color: #d03e67;
    color: #f7efff;

  }


  tr:hover td {
    color: #3eb8d0 /* changes colour on hover */
}


tr:hover {
    background-color: #f0f0f0;
}

